# Desactivar syslog
quarkus.log.socket.syslog.enabled=false

# Configuración mínima de logging
quarkus.log.console.enable=true
quarkus.log.level=INFO

# Configuración de la base de datos H2
quarkus.datasource.db-kind=h2
quarkus.datasource.username=sa
quarkus.datasource.password=
quarkus.datasource.jdbc.url=jdbc:h2:mem:test

# Hibernate crea las tablas automáticamente
quarkus.hibernate-orm.database.generation=drop-and-create

# Ver las queries SQL en la consola para tener feedback
quarkus.hibernate-orm.log.sql=true

# Consola web de H2
quarkus.h2.console.enabled=true

# Ruta de la consola web de H2
quarkus.h2.console.path=/h2

# Config de test

%test.quarkus.hibernate-orm.sql-load-script=no-file
%test.quarkus.hibernate-orm.database.generation=drop-and-create
quarkus.hibernate-orm.log.sql=true

# Para que las clases que usan @QuarkusTest las detecte jacoco
quarkus.package.write-transformed-bytecode-to-build-output=true

# Config de sonar

sonar.java.coveragePlugin=jacoco
sonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml


# Configuración del cliente REST para la API de países
countries-api/mp-rest/url=https://restcountries.com
countries-api/mp-rest/connectTimeout=5000
countries-api/mp-rest/readTimeout=5000
country.cache.ttl.millis=30000

# Token para la API de IP
ip.api.token=

# Configuración del cliente REST para la API de IP
ip-api/mp-rest/url=https://api.ipinfo.io
ip-api/mp-rest/connectTimeout=5000
ip-api/mp-rest/readTimeout=5000
ip.cache.ttl.millis=30000

quarkus.redis.hosts=